<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- link tailwind cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- link vue js cdn -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- link css from asset -->
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
	<div id="app" class="flex flex-grow-0 gap-2">
    <nav class="side-bar w-1/6 h-full">
			<div class="side-bar-header">
				<img src="" class="w-12 h-12" alt="Logo">
				<div class="flex flex-col border border-red-400">
					<h3 class="">Demo</h3>
					<p> Panel 05 </p>
				</div>
			</div>
			<div class="side-bar-body">
				<ul>
					<li v-for="(menu, index) in menus" :key="index"><a href="index.html">{{ menu.name }}</a></li>
				</ul>
			</div>
    </nav>
    <main class="w-5/6">
      <div class="dashboard-header">
        <h1> Good Morning Grace </h1>
      </div>
      <div class="dashboard-header">
        <div v-for="(data, index) in cardItems" :key="index" class="card p-3">
          <div class="card-header">
            <img :src="data.headIconPath" alt="" />
            <img :src="data.mainIconPath" alt="" />
          </div>
          <div class="card-text">
            <p class="text-gray-600"> {{ data.titleText }} </p>
            <h1 class="font-bold text-3xl">{{ data.numText }}  </h1>
          </div>
        </div>

      </div>
      <!-- <button class="primary-button text-white px-4 py-2">
        Add Fund
      </button> -->
    </main>
	</div>
    <!-- link app.js here -->
    <script src="app.js" defer></script>
</body>
</html>