@import url('http://fonts.cdnfonts.com/css/atami');
/* global style */
main {
  background: #EAECFC 0% 0% no-repeat padding-box;
  border-radius: 56px;
  opacity: 1;
}
h3, p, a {
	text-align: left;
	letter-spacing: 0px;
	color: #2A3141;
	opacity: 1;
}
h3 {
	font: normal normal 25px/30px Atami;
}
p, a {
	font: normal normal normal 18px/20px Atami;
}


.side-bar {
	background: #F6F6FF 0% 0% no-repeat padding-box;
	box-shadow: 10px 10px 15px #15145724;
	border-radius: 56px;
	height: 90vh;
	padding: 1rem;
}
.side-bar-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 1rem;
}
.side-bar-body>ul {
	display: flex;
	flex-direction: column;
	gap: .25rem;
  align-items: center;
}
.card {
	background: #EFF2FE 0% 0% no-repeat padding-box;
	box-shadow: 8px 8px 18px #04044345;
  opacity: 1;
  border-radius: 20px;
}